# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.xml

# Test binary, built with `go test -c`
*.test
*.iml
*.mod
*.sum
bin/*
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
Config/*

# Dependency directories (remove the comment below to include it)
# vendor/
